@font-face {
    font-family: 'Mitr';
    font-style: normal;
    src: url('../fonts/Mitr/Mitr-Light.ttf'); /* IE9 Compat Modes */
}

body {
    font-family: 'Mitr';
}

.delivery-container{
    margin-top: 60px;
    padding: 10px;
}
