.product-list{
    display: flex;
    align-self:center;
    // justify-content: center;
    // flex-wrap: wrap;
    width: 100%;
    margin: 0;
    
    .product-overlay{
        
        // min-width: 50%;
        // max-width: 100%;
        width: 100%;
        // flex: 1;
        border-radius: 5px;
        margin: 10px 0;

        a{
            text-decoration: none;
            color: $colorPrimary;
        }
        .product-item{
            // margin: 0 5px;
            border-radius: 5px;
            box-shadow: 0 1rem 1rem rgba(31, 45, 61, 0.125) !important;
            overflow: hidden;
            height: 100%;
            .img-box{
                position: relative;
                padding-top: 150%;
                img{
                    z-index: 2;
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .product-detail{
                padding: 10px;
            }
        }
    }
}


.product-item{
    .product-img-box{
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 60px;
        .product-blur{
            filter: blur(5px);
            background-size: 130%;
            background-position: center;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
        }
        .product-image{
            width: 100%;
            height: 100%;
            position: relative;
            object-fit: contain;
        }
    }
    .add-cart{
        a{
            text-decoration: none;
        }
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 0;
        height: 0;
        border-left: 60px solid transparent;
        border-right: 60px solid transparent;
        border-bottom: 100px solid $colorPrimary;
        .add-cart-text{
            position: absolute;
            margin-left: -50px;
            width: 100px;
            text-align: center;
            margin-bottom: -50px;
            bottom:-45px;
            color: #fff;
            .icon{
                font-size: 1.5em;
            }
            .text{
                font-size: .8em;
            }
            
        }
    }
}